* {
  padding: 0;
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 40px;
}

header {
  text-align: center;
  font-size: 3.25rem;
  margin-bottom: 100px;
}

.tables-div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px;
}

.title {
  font-size: 2rem;
  padding-bottom: 10px;
  text-decoration: underline;
}

.member {
  display: flex;
  font-size: 1.25rem;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
